.row.clearfix.standing-header
  .cell
    %span= division.upcase
  .cell
    %span W
  .cell
    %span L
  .cell
    %span PCT
- teams.sort! { |team2, team1| team1.win_percentage <=> team2.win_percentage }
- teams.each do |team|
  .row.clearfix.team-standing
    .cell
      = link_to team.display_name, team_url(team)
    .cell
      %span= team.number_of_wins
    .cell
      %span= team.number_of_losses
    .cell
      %span= team.win_percentage
