%tr.division.division-header{class: division}
  %th
    = division.upcase
  %th
    W
  %th
    L
  %th
    PCT
  %th
    HOME
  %th
    AWAY
  %th
    L10

- teams.sort! { |team2, team1| team1.winning_percentage <=> team2.winning_percentage }
- teams.each do |team|
  - standing = @standings.detect { |standing| standing["nba_team_id"].to_i == team.id }
  %tr.division.division-data{class: division}
    %td= link_to team.display_name, team_url(team)
    %td= standing["wins"]
    %td= standing["losses"]
    %td= (standing["wins"].to_f / standing["games_played"].to_f).round(3).to_s.ljust(5, "0")
    %td= "#{standing['home_wins']}-#{standing['home_losses']}"
    %td= "#{standing['away_wins']}-#{standing['away_losses']}"
    %td= team.recent_games(10).select { |bx| bx.result == "win" }.count
