%h1 ALL NBA TEAMS

.nba-teams-container
  %table.nba-teams
    %thead
      %tr.conference.eastern
        %th.conference-title{colspan: 7} EASTERN CONFERENCE
    %tbody
      = render partial: "team_standing", locals: {teams: @teams.atlantic, division: "atlantic"}
      = render partial: "team_standing", locals: {teams: @teams.central, division: "central"}
      = render partial: "team_standing", locals: {teams: @teams.southeast, division: "southeast"}
    %thead
      %tr.conference.western
        %th.conference-title{colspan: 7} WESTERN CONFERENCE
    %tbody
      = render partial: "team_standing", locals: {teams: @teams.northwest, division: "northwest"}
      = render partial: "team_standing", locals: {teams: @teams.pacific, division: "pacific"}
      = render partial: "team_standing", locals: {teams: @teams.southwest, division: "southwest"}
