%table.players-box-score
  %thead
    %tr
      %th{colspan: 17}= nba_team.display_name
    %tr
      %th.player-name Player Name
      %th MP
      %th FGM
      %th FGA
      %th 3PM
      %th 3PA
      %th FTM
      %th FTA
      %th ORB
      %th DRB
      %th TRB
      %th AST
      %th STL
      %th BLK
      %th TOV
      %th PF
      %th.points PTS

  %tbody
    - box_scores.each do |box_score|
      %tr.box-score-data
        %td.player-name
          = box_score.nba_player.display_name
        %td
          = "#{box_score.seconds_played / 60}:#{(box_score.seconds_played % 60).to_s.rjust(2, '0')}"
        %td
          = box_score.field_goals_made
        %td
          = box_score.field_goals_attempted
        %td
          = box_score.three_pointers_made
        %td
          = box_score.three_pointers_attempted
        %td
          = box_score.free_throws_made
        %td
          = box_score.free_throws_attempted
        %td
          = box_score.offensive_rebounds
        %td
          = box_score.defensive_rebounds
        %td
          = box_score.offensive_rebounds + box_score.defensive_rebounds
        %td
          = box_score.assists
        %td
          = box_score.steals
        %td
          = box_score.blocks
        %td
          = box_score.turnovers
        %td
          = box_score.personal_fouls
        %td
          = box_score.points
